<div class="container">
    <div class="breadcrumb-detail">
        / Verduisterend Rolgordijn 25 mm
    </div>
    <div class="product-header">
        <h2 id="product-title">Verduisterend Rolgordijn 25 mm</h2>
        <div class="rating">
            <div>Merk: <a href="#">Bece</a></div><img src="/assets/rating.png" />
        </div>
    </div>
    <div class="product-content">
        <div id="product-preview" class="col-sm-8">
            <img src="http://xpo.bece.com/images-3865/RG_standaard_plafond_montage_totaal_small.jpg?1=1&width=552&Cache=Default&height=552&p.dc=1&format=jpg" />
        </div>
        <div id="configurator-container" class="col-sm-4">
            <div class="price">
                &euro; <span id="amount"></span>
            </div>
            <div class="sub-caption">
                Verkoop door fonQ
            </div>
            <sds-configurator id="configurator" #configurator api-key="DE2F49BA-9A91-4D5F-BC6C-46D6253654D7"></sds-configurator>
            <div class="deliverable-container">
                <div class="deliverable-check"></div>
                <span style="color: #093; font-family: 'source sans pro semibold', 'Arial', 'sans-serif'; font-weight: bold;">
                    Leverbaar
                </span>
                - wordt door de leverancier bezorgd
            </div>
        </div>
    </div>
</div>