<div class="main">
  <div class="user-header">
    <div class="container">
      <img src="/assets/header.png" />
    </div>
  </div>
  <div class="menu-header">
      <div class="container">
        <img src="/assets/menu-header.png" />
      </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
