<div class="container row">
    <div class="breadcrumb col-sm-12">
        <img src="/assets/breadcrumb-main.png" />
    </div>
    <div class="sidebar col-sm-3">
        <img src="/assets/side-bar.png" />
    </div>
    <div class="col-sm-9">
        <div class="content-top">
            <img src="/assets/top-main.png" />
        </div>
        <div class="product-list row">
            <div class="col-sm-4 product" *ngFor="let material of materials">
                <a href="/#/configurator/{{material.code}}/100/80">
                    <img src="http://xpo.bece.com/images-3865/RG_standaard_plafond_montage_totaal_small.jpg?1=1&width=264&Cache=Default&height=264&p.dc=1&format=jpg&timestamp=636239575847552579&p.tn=4696_50245_AR40.png" />
                    <div class="description">
                        Verduisterend Rolgordijn 25 mm 100 x 80 cm
                    </div>
                </a>
                <div class="price">
                    &euro; 229,00
                </div>
                <div class="deliverable">
                    Leverbaar
                </div>
                <div class="deliverable2">
                    Direct leverbaar
                </div>
            </div>
        </div>
    </div>
</div>