/* You can add global styles to this file, and also import other style files */
/* @import "~@sieval/configurator/styles.css"; */

@font-face {
    font-family: "patua_one";
    src: url("/assets/PatuaOne-Regular.otf") format("opentype");
}
@font-face {
    font-family: "source sans pro";
    src: url("/assets/SourceSansPro-Bold.otf") format("opentype");
}
@font-face {
    font-family: "source sans pro semibold";
    src: url("/assets/SourceSansPro-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: "source sans pro light";
    src: url("/assets/SourceSansPro-Light.otf") format("opentype");
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "source sans pro light","Arial","sans-serif";
    font-size: 16px;
    color: #555;
    letter-spacing: 0.03em;
}

a {
    color: #555;
}

.user-header {
    background-color: #5ac3ec;
    text-align: center;
    padding: 3px 0px 0px 0px;
}
.user-header img {
    margin-left: -3px;
}
.menu-header {
    border-bottom: 5px solid #f3f3f3;
}
.menu-header img {
    padding: 13px 11px 14px;
}
.breadcrumb img {
    padding: 24px 13px 19px;
}
.container {
    width: 1400px;
    max-width: 1400px;
    margin: 0px auto;
    padding: 0px;
}
.col-sm-3 {
    width: 25%;
    float: left;
}
.col-sm-4 {
    width: 33.33333333%;
    float: left;
}
.col-sm-9 {
    width: 75%;
    float: left;
}
.sidebar img {
    padding-left: 9px;
}
.content-top img {
    margin-top: -4px;
    padding-left: 12px;
}
.product-list .product {
    padding: 56px 43px;
}
.product-list .product img {
    width: 264px;
    height: 264px;
}
.product-list .product .description {
    font-family: "patua_one","Arial","sans-serif";
    font-size: 1.1em;
    margin-top: 50px;
}
.product-list .product a {
    text-decoration: none;
}
.product-list .product a .description:hover {
    text-decoration: underline;
    color: #111;
}
.product-list .product .price {
    color: #fb4436;
    font-size: 23px;
    font-family: "source sans pro","Arial","sans-serif";
    margin: 15px 0px;
}
.product-list .product .deliverable {
    font-family: "source sans pro","Arial","sans-serif";
    font-size: 16px;
    text-transform: uppercase;
    color: #093;
    background: url("/assets/deliverable-check.png") no-repeat left center transparent;
    padding-left: 22px;
}
.product-list .product .deliverable2 {
    font-size: 13px;
    letter-spacing: 0.0em;
    color: #999;
    margin: 7px 0px;
}

.breadcrumb-detail {
    background: url("/assets/breadcrumb-main.png") no-repeat 13px center transparent;
    width: 100%;
    height: 19px;
    padding-left: 460px;
    margin-top: 24px;
    color: #999;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.breadcrumb-detail img {
    padding: 4px 13px;
}

.product-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-header {
    padding-left: 15px;
}
.product-header a {
    color: #31b4e7;
    text-decoration: none;
}
.product-header a:hover {
    text-decoration: underline;
}
h2#product-title {
    margin: 16px 0px 8px;
    font-family: "patua_one","Arial","sans-serif";
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 0.04em;
}
.rating {
    display: flex;
    align-items: center;
}
.rating > div {
    color: #999;
    display: inline-block;
    margin-right: 14px;
    font-size: 15px;
}
.deliverable-check {
    display: inline-block;
    width: 19px;
    height: 15px;
    background: url('/assets/deliverable-check.png') no-repeat center center transparent;
}
#product-preview {
    margin-top: 33px;
    margin-left: 22px;
}
#configurator-container {
    margin-top: -17px;
    padding: 57px 25px 25px;
}

#configurator-container {
    box-shadow: 0 2px 4px 0 #ddd;
    border-radius: 5px;
    border: 1px solid #ddd;
}
#configurator-container .price {
    color: #fb4436;
    font-size: 33px;
    font-weight: bold;
    font-family: "source sans pro semibold","Arial","sans-serif";
}
#configurator-container .sub-caption {
    margin: 10px 0;
    color: #999;
}
#configurator-container .deliverable-container {
    font-size: 15px;
    text-transform: uppercase;
    color: #999;
    font-family: "source sans pro light","Arial","sans-serif";
    margin-top: 10px;
}
#configurator sds-basic-layout > h3:first-child,
#configurator p,
#configurator .product-remarks,
#configurator .configurator-model,
#configurator .configurator-description,
#configurator .configurator-property-header-rmk,
#configurator .configurator-property-rmk,
#configurator .configurator-property-header-remarks,
#configurator .configurator-property-remarks,
#configurator .configurator-property-header-productionmethod,
#configurator .configurator-property-productionmethod,
#configurator .configurator-image-list-item img,
#configurator .configurator-price,
#configurator .configurator-message.warning {
    display: none;
}
#configurator .configurator-image-list-item {
    height: auto;
    flex: 0 1 auto;
    border: 1px solid #e5e5e5;
}
#configurator .configurator-image-list-item.is-selected {
    border: 2px solid grey;
}
#configurator .configurator-summary {
    margin-top: 20px;
}
#configurator .ant-input-group {
    display: block !important;
}
#configurator h3 {
    font-weight: normal;
}
#configurator .configurator-width input, #configurator .configurator-height input, #configurator .configurator-property-mnth input {
    border: 1px solid #e5e5e5;
    padding: 10px 17px;
    margin: 5px 0px 15px;
}
#configurator .configurator-buttons {
    flex: 0 1 auto;
}
#configurator .configurator-buttons button {
    margin: 10px 0px;
    font-size: 16px;
    font-family: "source sans pro","Arial","sans-serif";
}
#configurator .configurator-add-to-cart {
    background-color: #009933;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0 #999;
    padding: 10px 17px;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}
#configurator .configurator-add-to-cart:hover {
    background-color: #007A29;
}
#configurator .configurator-add-to-cart:active {
    box-shadow: none;
    margin: 12px 0px 8px;
}
#configurator .configurator-add-to-wishlist {
    width: 100%;
    background-color: #fff;
    color: #999;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 17px;
    cursor: pointer;
    text-transform: uppercase;
}
#configurator .configurator-add-to-wishlist:hover {
    box-shadow: 2px 2px 3px 0 #999;
}
#configurator .configurator-message {
    margin: 13px 0px;
}
#configurator .configurator-message.error {
    color: #fb4436;
}

#confirm-msg {
    color: #009933;
    border: 1px solid #009933;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
}